
:root {
    color: rgb(178, 23, 23);

}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/endless-constellation.svg);
    background-repeat: no-repeat;
   background-size: cover;
    

}
#card {
  width: 300px;
  height: 200px;
  border: 2px solid black;
  border-radius: 18px;
  background-image: url('.//img/img1.png');
  padding: 10px;
  font-family: Arial, sans-serif;
  color: rgb(219, 12, 12);
}

#card-number {
  font-size: 20px;
  letter-spacing: 5px;
  color: rgb(238, 9, 9);
}

#card-expiry {
  font-size: 16px;
  margin-top: 10px;
  color: rgb(244, 7, 7);
}

#card-cvv {
  font-size: 15px;
  margin-top: 7px;
  color: rgb(246, 4, 4);
}

#prefix {
    margin: 5px;
}
button {
    position: absolute;
    margin: 5px;
    margin-top: 4%;
    height: 3.5%;
    width: 10%;
    left: 54.25%;
    font-style: #970707;
}
img {
    position: absolute;
    margin-top: -8%;
    height: 80px;
    width: 70px;
    left: 975px;
}
#inicio {
    cursor: pointer;
    color: #080606;
    top: 50%;
    left: 55%;
    width: 150px; 
    height: 33px;
    position: absolute;
    border: 3px solid #e90404;
    border-radius: 15px;
    font-size: 17px;
    background-color: #4CAF50;
}